.container {
    max-width: 100%;
    width: 1200px;
    padding: 20px;
    margin: 40px auto;
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    background: #f9f9f9;

}

body {background: #f9f9f9;}