body {
    margin: 0;
    background: #f9f9f9;
}

.container {
    width: 90%;                 
    max-width: 1000px;          
    min-height: calc(100vh - 80px); 
    padding: 20px;
    margin: 40px auto;         
    box-sizing: border-box;
    border: 1px solid #000;
    background: #ffffff;        
    border-radius: 6px;
}