body {
    margin: 0;
    background: #ffffff;
}

.container {
    width: 100%;
    min-height: 100vh;    
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #000000;
    background: #ffffff;
}