body {
    margin: 0;
    background: #f9f9f9;
}

.container {
    width: 100%;
    min-height: 100vh;    
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #000;
    background: #f9f9f9;
}