body {
    margin: 0;
    background: #ac12ff;
}

.container {
    width: 100%;
    min-height: 100vh;    
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border: 2px solid #000000;
    background: #00ff1e;
}