body {
    margin: 0;
    background: #f9f9f9;
}

.container {
    width: 100%;
    min-height: 100vh;    /* ensures full viewport height but allows growth */
    padding: 20px;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #000;
    background: #f9f9f9;
    
}